.itemList {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
  }
  
  .greeting{
    font-weight: bolder;
    font-size: 3rem;
    color: rgb(163, 185, 222);
  }