.endBuy{
    background-color: black;
    padding: 3px;   
    color: antiquewhite;
    cursor: pointer;
    text-decoration: none;
    
    
}

.item div{
    padding-top: 5px;
}
.descr{
    font-style: oblique;
}